body {
        background: #fff;
        color: #000;
	margin: 0;
}

p {
	margin: 1em;
}

p.author {
	text-align: right;
	font-weight: bold;
}

h1 {
        text-align: center;
	background: #beb;
	border-top: 2px solid #cfc;
	border-bottom: 2px solid #8c8;
}

h2 {
	padding-left: 1em;
	background: #beb;
	border-top: 2px solid #cfc;
	border-bottom: 2px solid #8c8;
}
