body {
        background: #fff;
        color: #000;
        margin: 10pt;
}

p.author {
	text-align: right;
	font-weight: bold;
}

h1 {
        text-align: center;
}

div {
        max-width: 65em;
        background: #eee;
        padding: 0.1cm 1cm 0.2cm 1cm;
}
